@page "/counter"
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor http

@using Microsoft.AspNetCore.ProtectedBrowserStorage
@inject ProtectedSessionStorage sessionStore
@inject ProtectedLocalStorage localStorage


    <div @onkeypress="@(e=>EnterKeyPress(e))">

        <h1>Counter</h1>
        <p>Current count: @currentCount</p>

        <h2> Session value is : <label>@sessionText2</label>  </h2>

        <button class="btn btn-primary" @onclick="IncrementCount">Click me</button>
        <input  type="text"  @bind-value="@sessionText"/>

        <button class="btn btn-primary" @onclick="SetSession">SetSession</button>
        <button class="btn btn-primary" @onclick="GetSession">GetSession</button>

        <button class="btn btn-danger" @onkeypress="@(e=>EnterKeyPress(e))" @onkeypress:preventDefault="false">Key Press</button>

    </div>


@code {


    private string sessionText;
    private string sessionText2;

    private int currentCount = 0;

    private void IncrementCount()
    {

        currentCount++;
    }

    private async Task GetSession()
    {
        //string sValue1 = http.HttpContext.Session.GetString("name");
         sessionText2 = await sessionStore.GetAsync<string>("name");
         sessionText2 = await localStorage.GetAsync<string>("localName");
    }

    private async Task SetSession()
    {
        await sessionStore.SetAsync("name", sessionText);
        await localStorage.SetAsync("localName", sessionText);
        //http.HttpContext.Session.SetString("userName", "henry");
    }


    private void EnterKeyPress(KeyboardEventArgs e)
    {

        currentCount++;
    }





}
