@page "/counter"
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor http

@using Microsoft.AspNetCore.ProtectedBrowserStorage
@inject ProtectedSessionStorage sessionStore
@inject ProtectedLocalStorage localStorage

@inject BlazorApp15.Data.StorageServices storageService


    <div @onkeypress="@(e=>EnterKeyPress(e))">

        <h1>Counter</h1>
        <p>Current count: @currentCount</p>

        <h2> Session value is : <label>@sessionText2</label>  </h2>

        <button class="btn btn-primary" @onclick="IncrementCount">Click me</button>
        <input  type="text"  @bind-value="@sessionText"/>

        <button class="btn btn-primary" @onclick="SetSession">SetSession</button>
        <button class="btn btn-primary" @onclick="GetSession">GetSession</button>

        <button class="btn btn-danger" @onkeypress="@(e=>EnterKeyPress(e))" @onkeypress:preventDefault="false">Key Press</button>

    </div>


@code {


    private string sessionText;
    private string sessionText2;

    private int currentCount = 0;

    private void IncrementCount()
    {

        currentCount++;
    }

    private async Task GetSession()
    {


        sessionText2 = await storageService.GetValueAsync(Data.StorageType.SessionStorage, "name");

    }

    private async Task SetSession()
    {

        await storageService.SetValueAsync(Data.StorageType.SessionStorage, "name", sessionText);
        await storageService.SetValueAsync(Data.StorageType.Cookie, "name", sessionText);
    }


    private void EnterKeyPress(KeyboardEventArgs e)
    {

        currentCount++;
    }





}
